body{
	border-top: 20px;
	font-family: arial;
	background: #ffffff url("../imagens/bg.jpg") repeat right top;
}

.cabecalho{
	height: 100px;
}

div img{
	float: left;
	height: 100px;
	margin-top: -40px;
	margin-left: 20%;
}

.cabecalho p{
	text-align: center;
	margin-top: 10px;
	font-size: 40px;
}

#container{
	margin-top: 40px;
	margin-bottom: 20px;
}

#container p{
	font-size: 40px;
}

#tabela{
	margin-left: 20%;
}

tr:nth-child(odd){
	background-color: gray;
	color: white;
}

#exp{
	font-size: 30px;
}