/* reset browser styles */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code,
address, variable, form, fieldset, blockquote
{ padding: 0; margin: 0; font-size: 100%; fontweight:
normal;}
ol { margin-left: 1.4em; list-style: decimal; }
ul { margin-left: 1.4em; list-style:square; }
img { border: 0;}
/* end reset browser styles */